Source: contrail-control
Maintainer: swamy <swamy@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-control
Architecture: amd64
Maintainer: swamy <swamy@juniper.net>
Depends: contrail-libs
Section: contrail-control
Priority: extra
Description: Control node package
