#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export GIT_ROOT = $(shell git rev-parse --show-toplevel)
#export PKG_ROOT = $(GIT_ROOT)/../build/nova-docker-0.0.0.post143
export PKG_ROOT = $(shell pwd)
export BUILD_ROOT = $(PKG_ROOT)/debian/nova-docker

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install --buildsystem python_distutils
	install -d -m 755 $(BUILD_ROOT)/etc/nova/rootwrap.d/
	install -p -m 755 $(PKG_ROOT)/etc/nova/rootwrap.d/docker.filters $(BUILD_ROOT)/etc/nova/rootwrap.d/docker.filters
