Source: contrail-vrouter-init
Maintainer: builder@juniper.net
Section: net
Priority: optional

Package: contrail-vrouter-init
Architecture: all
Depends: contrail-vrouter, supervisor (= 3.0a8-1.2)
Priority: optional
Description: OpenContrail compute-node startup and monitoring scripts.
