#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := ${SB_TOP}/build/debian/contrail-vrouter-init
export _confsrcdir := ${SB_TOP}/tools/packaging/common/control_files

export _supervisorconf := /etc/contrail/supervisord_vrouter_files
export _opt_bin := /opt/contrail/bin

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install:
	install -d -m 755 ${buildroot}/etc/init
	install -d -m 755 ${buildroot}/etc/init.d
	install -d -m 755 ${buildroot}${_opt_bin}
	install -d -m 755 ${buildroot}${_supervisorconf}
	install -d -m 755 ${buildroot}/var/log/contrail
	install -p -m 644 $(_confsrcdir)/supervisor-vrouter.upstart ${buildroot}/etc/init/supervisor-vrouter.conf
	ln -sf /lib/init/upstart-job ${buildroot}/etc/init.d/supervisor-vrouter
	install -p -m 644 $(_confsrcdir)/contrail-vrouter.initd.supervisord ${buildroot}/etc/init.d/contrail-vrouter
	install -p -m 644 $(_confsrcdir)/supervisord_vrouter.conf ${buildroot}/etc/contrail/supervisord_vrouter.conf
	# TODO: Remove this after spec files for other platforms are fixed.
	perl -ni -e 's/source \/opt\/contrail\/vrouter-venv\/bin\/activate && exec python \/opt\/contrail\/vrouter-venv/\/usr/g; print $$_;' ${buildroot}/etc/contrail/supervisord_vrouter.conf
	install -p -m 644 $(_confsrcdir)/contrail-vrouter.ini ${buildroot}${_supervisorconf}
	install -p -m 644 $(_confsrcdir)/contrail-vrouter.rules ${buildroot}${_supervisorconf}
	install -p -m 755 $(_confsrcdir)/vrouter-post-start.sh ${buildroot}${_opt_bin}
	install -p -m 755 $(_confsrcdir)/vrouter-pre-stop.sh ${buildroot}${_opt_bin}


override_dh_shlibdeps:
