#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := ${SB_TOP}/build/debian/contrail-vrouter-init
export _confsrcdir := ${SB_TOP}/tools/packaging/common/control_files

export _supervisorconf := /etc/contrail/supervisord_vrouter_files
export _opt_bin := /opt/contrail/bin

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install:
	install -d -m 755 ${buildroot}/etc/init
	install -d -m 755 ${buildroot}/etc/init.d
	install -d -m 755 ${buildroot}${_opt_bin}
	install -d -m 755 ${buildroot}${_supervisorconf}
	install -d -m 755 ${buildroot}/var/log/contrail
	install -p -m 644 $(_confsrcdir)/core-pattern.upstart ${buildroot}/etc/init/core-pattern.conf
	install -p -m 644 $(_confsrcdir)/contrail-nodemgr-vrouter.ini ${buildroot}${_supervisorconf}
	install -p -m 644 $(_confsrcdir)/contrail-vrouter.rules ${buildroot}${_supervisorconf}
	install -p -m 755 $(_confsrcdir)/vrouter-pre-start.sh ${buildroot}${_opt_bin}
	install -p -m 755 $(_confsrcdir)/vrouter-post-start.sh ${buildroot}${_opt_bin}
	install -p -m 755 $(_confsrcdir)/vrouter-pre-stop.sh ${buildroot}${_opt_bin}
	install -p -m 755 $(_confsrcdir)/vnagent_param_setup_ubuntu.sh ${buildroot}${_opt_bin}/vnagent_param_setup.sh
	install -p -m 755 $(_confsrcdir)/if-vhost0 ${buildroot}${_opt_bin}/if-vhost0
	install -p -m 755 $(_confsrcdir)/vrouter-functions.sh ${buildroot}${_opt_bin}/vrouter-functions.sh
	install -p -m 755 $(_confsrcdir)/contrail_reboot  ${buildroot}/etc/contrail/contrail_reboot
	install -p -m 755 $(_confsrcdir)/agent.conf  ${buildroot}/etc/contrail/rpm_agent.conf


override_dh_shlibdeps:
