#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-web-server-manager

export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):debian/contrail-control/usr/lib64/contrail:debian/contrail-libs/usr/lib64/contrail
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export _contrailwebsrc := /usr/src/contrail/contrail-web-server-manager
export _libdir := /usr/lib64
export _contrailetc := /etc/contrail
export _supervisordir := /etc/contrail/supervisord_webui_files
export _initdir := /etc/init
export _initddir := /etc/init.d
export _contraillog := /var/log/contrail
export _distropkgdir := $(SB_TOP)/tools/packaging/common/control_files

export BUILDTIME := $(shell date -u +%y%m%d%H%M)

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build:
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog
	(cd $(SB_TOP)/contrail-web-core && make package REPO=$(SB_TOP)/contrail-web-server-manager,serverManager)

override_dh_auto_install:
	rm -rf $(buildroot)/$(_contrailwebsrc)
	mkdir -p $(buildroot)/$(_contrailwebsrc)
	cp -r -p $(SB_TOP)/contrail-web-server-manager/* $(buildroot)/$(_contrailwebsrc)/.
	ln -s $(_libdir)/node_modules $(buildroot)/$(_contrailwebsrc)/node_modules
	install -d -m 755 $(buildroot)$(_contraillog)
	install -d -m 755 $(buildroot)$(_supervisordir)
	install -d -m 755 $(buildroot)$(_contrailetc)
	install -d -m 755 $(buildroot)$(_initdir)
	install -d -m 755 $(buildroot)$(_initddir)
	# supervisord conf file
	install -p -m 755 $(_distropkgdir)/supervisord_webui.conf $(buildroot)/$(_contrailetc)/supervisord_webui.conf
	# supervisord upstart file
	install -p -m 755 $(_distropkgdir)/supervisor-webui.upstart $(buildroot)$(_initdir)/supervisor-webui.conf
	# supervisord ini files
	install -p -m 755 $(_distropkgdir)/contrail-webui.ini $(buildroot)/$(_supervisordir)/contrail-webui.ini
	install -p -m 755 $(_distropkgdir)/contrail-webui-middleware.ini $(buildroot)/$(_supervisordir)/contrail-webui-middleware.ini
	# init scripts for service command
	install -p -m 755 $(_distropkgdir)/contrail-webui.initd.supervisord $(buildroot)/$(_initddir)/contrail-webui
	install -p -m 755 $(_distropkgdir)/contrail-webui-middleware.initd.supervisord $(buildroot)/$(_initddir)/contrail-webui-middleware

override_dh_shlibdeps:
