#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

#export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):debian/contrail-api/usr/lib64/contrail:debian/contrail-libs/usr/lib64/contrail
export BUILDTIME := $(shell date -u +%y%m%d%H%M)

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

export buildroot := ${SB_TOP}/build/debian/contrail-api-lib
export _python_dist := ${SB_TOP}/build/python_dist
export _bindir := /usr/bin
export _initddir := /etc/init.d

# export _api_venv_archv := /opt/contrail/api-venv/archive
# export _anl_venv_archv := /opt/contrail/analytics-venv/archive
export _pyver := 2.7
# export _pysitepkg := /lib/python$(_pyver)/site-packages
export python_sitelib := /usr/lib/python$(_pyver)/dist-packages
export _sysconfdir := /etc
export _localstatedir := /var

%:
	dh $@ --with python2 --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

TARGETS = controller/src/api-lib	\
	controller/src/config/common	\
	controller/src/discovery/client	\
	controller/src/sandesh/common	\
	sandesh/library/python:pysandesh

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog
	(cd ${SB_TOP}; scons ${TARGETS})

override_dh_auto_install:
	install -d -m 755 $(buildroot)$(python_sitelib)
	mkdir -p ${_python_dist}

	(cd ${_python_dist}; tar zxvf ${SB_TOP}/build/debug/api-lib/dist/vnc_api-0.1dev.tar.gz; cd vnc_api-0.1dev; python setup.py install --root=${buildroot} --install-layout=deb)

	(cd ${_python_dist}; tar zxvf ${SB_TOP}/build/debug/config/common/dist/cfgm_common-0.1dev.tar.gz; cd cfgm_common-0.1dev; python setup.py install --root=${buildroot} --install-layout=deb)

	(cd ${_python_dist}; tar zxvf ${SB_TOP}/build/debug/sandesh/common/dist/sandesh-common-0.1dev.tar.gz; cd sandesh-common-0.1dev; python setup.py install --root=${buildroot} --install-layout=deb)

	(cd ${_python_dist}; tar zxvf ${SB_TOP}/build/debug/tools/sandesh/library/python/dist/sandesh-0.1dev.tar.gz; cd sandesh-0.1dev; python setup.py install --root=${buildroot} --install-layout=deb)

	(cd ${_python_dist}; tar zxvf ${SB_TOP}/build/debug/discovery/client/dist/discoveryclient-0.1dev.tar.gz; cd discoveryclient-0.1dev; python setup.py install --root=${buildroot} --install-layout=deb)


override_dh_shlibdeps:
