Source: contrail-provisioning-tools
Maintainer: ijohnson <ijohnson@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-provisioning-tools
Architecture: all
Maintainer: ijohnson <ijohnson@juniper.net>
Depends: tar
Section: contrail-provisioning-tools
Priority: extra
Description: Contrail Provisioning tools  package with scripts for provisioning

