Source: contrail-analytics
Maintainer: Chandan <cdmishra@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-analytics
Architecture: amd64
Maintainer: Chandan <cdmishra@juniper.net>
Depends: redis-server (>= 2.6.13-1), python-redis, contrail-analytics-venv, contrail-libs
Section: contrail-analytics
Priority: extra
Description: Contrail analytics package
