Source: euca2ools
Maintainer: amoghe <amoghe@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: euca2ools
Architecture: amd64
Maintainer: amoghe <amoghe@juniper.net>
Depends:
Section: euca2ools
Priority: extra
Description: Euca2ools package for Amazon APIs

