#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(SB_TOP)/build/debian/contrail-libs/usr/lib64/contrail

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-openstack-ha
export _bindir := /usr/bin
export _initddir := /etc/init.d
export _initdir := /etc/init
export _sysconfdir := /etc
export _src_config := $(SB_TOP)/tools/packaging/common/control_files

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install:
	install -d -m 755 $(buildroot)/usr/bin
	install -d -m 755 $(buildroot)/usr/local
	install -d -m 755 $(buildroot)/etc/xinetd.d
	install -d -m 755 $(buildroot)/etc/contrail/ha
	install -d -m 755 $(buildroot)/var/log/contrail/ha
	install -d -m 755 $(buildroot)/opt/contrail/bin
	install -D -m 755 $(_src_config)/contrail-hamon.upstart $(buildroot)$(_initdir)/contrail-hamon.conf
	install -D -m 755 $(_src_config)/contrail-mysqlprobe.xinetd $(buildroot)/etc/xinetd.d/contrail-mysqlprobe
	install -p -m 644 $(SB_TOP)/distro/third_party/cmon-1.2.6-357-64bit-glibc23-mc70.tar.gz $(buildroot)/usr/local
	cd $(buildroot)/usr/local; tar xzvf cmon-1.2.6-357-64bit-glibc23-mc70.tar.gz -C $(buildroot)/usr/local/; rm -rf cmon-1.2.6-357-64bit-glibc23-mc70.tar.gz

override_dh_usrlocal:	


override_dh_shlibdeps:
