Source: contrail-install-packages
Maintainer: amoghe <amoghe@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-install-packages
Architecture: all
Maintainer: amoghe <amoghe@juniper.net>
Depends:
Replaces: contrail-setup
Section: contrail-install-packages
Priority: extra
Description: Contrail Installer Packages - Container of debian packages 
