#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/\/build\/debian\/contrail-install-packages//g")
export DISTRIB_RELEASE = $(shell grep -Po "DISTRIB_RELEASE=\K.*" /etc/lsb-release)

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-install-packages/debian/contrail-install-packages
export _contrailopt := /opt/contrail

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
TGZ_FILE =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)~$(CONTRAIL_SKU)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)~$(CONTRAIL_SKU)
endif

ifdef FILE_LIST
TGZ_FILE = $(FILE_LIST)
endif


ifeq ($(DISTRIB_RELEASE),14.04)
SETUP_FILE := $(SB_TOP)/tools/packaging/build/setup_ubuntu1404.sh
endif

ifeq ($(CONTRAIL_SKU),juno)
SETUP_FILE := $(SB_TOP)/tools/packaging/build/setup_ubuntu_juno.sh
endif

ifndef SETUP_FILE
SETUP_FILE := $(SB_TOP)/tools/packaging/build/setup_ubuntu.sh
endif  

%:
	dh $@

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_install: 
	# Setup directories
	@echo "making deb for contrail-install-packages"
	install -d -m 755 $(buildroot)
	install -d -m 755 $(buildroot)$(_contrailopt)
	install -d -m 755 $(buildroot)$(_contrailopt)/puppet
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_packages
	# Install files
	echo BUILDID=`echo $(BUILDTAG) | cut -d '-' -f2 | cut -d '~' -f1` > $(SB_TOP)/tools/packaging/build/VERSION_ubuntu; fi
	install -p -m 755 $(SB_TOP)/tools/packaging/build/VERSION_ubuntu  $(buildroot)$(_contrailopt)/contrail_packages/VERSION
	install -p -m 755 $(SETUP_FILE)  $(buildroot)$(_contrailopt)/contrail_packages/setup.sh
	install -p -m 755 $(SB_TOP)/tools/packaging/build/sources.list  $(buildroot)$(_contrailopt)/contrail_packages/sources.list
	install -p -m 755 $(SB_TOP)/tools/packaging/build/repo_preferences  $(buildroot)$(_contrailopt)/contrail_packages/preferences
	# install puppet manifests
	tar -cvzf $(SB_TOP)/build/contrail-puppet-manifest.tgz -C $(SB_TOP)/tools/puppet .
	install -p -m 755 $(SB_TOP)/build/contrail-puppet-manifest.tgz $(buildroot)$(_contrailopt)/puppet/contrail-puppet-manifest.tgz
	# install TGZ file and packages list file
	if [ -f $(TGZ_FILE) ]; then echo "Using TGZ FILE = $(TGZ_FILE)"; install -p -m 644 $(TGZ_FILE) $(buildroot)$(_contrailopt)/contrail_packages/contrail_debs.tgz; else echo "ERROR: TGZ file containing all debs is not supplied or not present"; echo "Supply Argument: FILE_LIST=<TGZ FILE>"; exit 1; fi
	
override_dh_shlibdeps:

override_dh_usrlocal:   

