#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/\/build\/contrail-install-packages//g")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/contrail-install-packages/debian/contrail-install-packages
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):debian/contrail-analytics/usr/lib64/contrail:debian/contrail-libs/usr/lib64/contrail
export _contrailopt := /opt/contrail

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)~$(CONTRAIL_SKU)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)~$(CONTRAIL_SKU)
endif

%:
	dh $@

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install: 
	# Setup directories
	@echo "making deb for contrail-install-packages"
	install -d -m 755 $(buildroot)
	install -d -m 755 $(buildroot)/usr/bin
	install -d -m 755 $(buildroot)$(_contrailopt)
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_packages
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_packages/helpers
	install -d -m 755 $(buildroot)$(_contrailopt)/bin
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_installer/contrail_setup_utils
	# install files
	install -p -m 644 $(SB_TOP)/tools/packaging/build/contrail_packages_${BUILDTAG}.tgz  $(buildroot)$(_contrailopt)/contrail_packages/contrail_packages.tgz
	# install etc files
	install -p -m 644 $(SB_TOP)/build/debian/contrail_installer.tgz  $(buildroot)$(_contrailopt)/contrail_installer.tgz
	# install pkgs needed first
	install -p -m 644 $(SB_TOP)/distro/third_party/ecdsa-0.10.tar.gz $(buildroot)$(_contrailopt)/contrail_installer/contrail_setup_utils/ecdsa-0.10.tar.gz
	install -p -m 644 $(SB_TOP)/distro/third_party/Fabric-1.7.0.tar.gz $(buildroot)$(_contrailopt)/contrail_installer/contrail_setup_utils/Fabric-1.7.0.tar.gz
	echo BUILDID=`echo $(BUILDTAG) | cut -d '.' -f3 | cut -d '~' -f1` > $(SB_TOP)/tools/packaging/build/VERSION_ubuntu; fi
	install -p -m 755 $(SB_TOP)/tools/packaging/build/VERSION_ubuntu  $(buildroot)$(_contrailopt)/contrail_packages/VERSION
	install -p -m 755 $(SB_TOP)/tools/packaging/build/setup_ubuntu.sh  $(buildroot)$(_contrailopt)/contrail_packages/setup.sh
	install -p -m 755 $(SB_TOP)/tools/packaging/build/helpers/*  $(buildroot)$(_contrailopt)/contrail_packages/helpers/
	install -p -m 755 $(SB_TOP)/tools/packaging/build/sources.list  $(buildroot)$(_contrailopt)/contrail_packages/sources.list
	install -p -m 755 $(SB_TOP)/tools/packaging/build/repo_preferences  $(buildroot)$(_contrailopt)/contrail_packages/preferences
	# need this for openstack-config for keystone specific, this needs to move away to openstack-config package
	install -p -m 755 $(SB_TOP)/tools/provisioning/contrail_setup_utils/contrail-keystone-setup.sh $(buildroot)/usr/bin/contrail-keystone-setup.sh
	# extract contrail_installer 
	cd $(buildroot)$(_contrailopt); tar xzvf contrail_installer.tgz
	cd $(buildroot)$(_contrailopt)/contrail_packages/; tar xzvf contrail_packages.tgz; rm -rf contrail_packages.tgz;
	
override_dh_shlibdeps:

override_dh_usrlocal:   

