Source: contrail-openstack
Maintainer: rrugge <rrugge@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends:

Package: contrail-openstack
Architecture: all
Maintainer: rrugge <rrugge@juniper.net>
Depends: contrail-api-lib, openstack-dashboard, glance, keystone, nova-api, nova-common, nova-conductor, nova-console, nova-objectstore, nova-scheduler, cinder-api, cinder-common, cinder-scheduler, mysql-server, contrail-setup, memcached, nova-novncproxy, nova-consoleauth, python-m2crypto, haproxy, qpidd, apache2, libapache2-mod-wsgi, python-memcache, python-iniparse, python-qpid, euca2ools
Section: contrail-openstack
Priority: extra
Description: Contrail Openstack composite debian package
