#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-vrouter
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(SB_TOP)/build/debian/contrail-libs/usr/lib64/contrail

export _osVer := $(shell uname -r)
export _contrailetc := /etc/contrail
export _initdir := /etc/init
export _bindir := /usr/bin
export _arch := x86_64

BUILD_ARCH_TARGETS=src/vnsw/agent:vnswad vrouter
ifdef OSVER
export _osVer := $(OSVER)
SCNS :=  scons --kernel-dir=/lib/modules/$(_osVer)/build --target=$(_arch) $(BUILD_ARCH_TARGET)
else
export _osVer := $(shell uname -r)
SCNS := scons --target=$(_arch) $(BUILD_ARCH_TARGET)
endif

BUILDTAG =
ifdef TAG
BUILDTAG = $(TAG)-$(_osVer)
else
BUILDTAG = $(BUILDTIME)-$(_osVer)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog
	(cd ${SB_TOP}; ${SCNS})

override_dh_auto_install:
#	Setup directories
	rm -rf $(buildroot)
	install -d -m 755 $(buildroot)$(_bindir)
	install -d -m 755 $(buildroot)$(_contrailetc)

#	install bin files
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/flow $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/vif $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/mirror $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/mpls $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/nh $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/rt $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/vrfstats $(buildroot)$(_bindir)
	install -p -m 755 ${SB_TOP}/build/debug/vrouter/utils/dropstats $(buildroot)$(_bindir)

	install -p -m 755 ${SB_TOP}/build/debug/vnsw/agent/vnswad $(buildroot)$(_bindir)/vnswad

#	install etc files
	install -p -m 644 ${SB_TOP}/tools/packaging/common/control_files/agent.conf $(buildroot)$(_contrailetc)/rpm_agent.conf
	install -D -p -m 755 ${SB_TOP}/tools/packaging/common/control_files/contrail_reboot $(buildroot)$(_contrailetc)/contrail_reboot

#	kernel module
	install -d -m 755 $(buildroot)/lib/modules/$(_osVer)/extra/net/vrouter
	install -p -m 755 ${SB_TOP}/vrouter/vrouter.ko $(buildroot)/lib/modules/$(_osVer)/extra/net/vrouter/vrouter.ko

get-orig-source:
	uscan --verbose --rename --destdir=$(SB_TOP)

