Source: contrail-setup
Maintainer: swamy <swamy@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-setup
Architecture: all
Maintainer: swamy <swamy@juniper.net>
Depends: tar,
    python-pip,
    python-netifaces,
    python-netaddr,
    python-crypto,
    curl,
    ifenslave-2.6,
    vlan,
    python-iniparse
# Replaces some files in /opt/contrail/contrail_packages/ created by contrail-install-packages.
# Replaces some files in /opt/contrail/bin/ created by contrail-openstack-ha
Replaces: contrail-install-packages, contrail-openstack-ha
Section: contrail-setup
Priority: extra
Description: Contrail Setup package with scripts for provisioning

