#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-setup
export builddist := $(SB_TOP)/build/debug/contrail-setup
export _contrailopt := /opt/contrail
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(SB_TOP)/build/debian/contrail-libs/usr/lib64/contrail
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export _pyver := 2.7
export python_sitelib := /usr/local/lib/python${_pyver}/dist-packages

__python ?= /usr/bin/python

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
DEB_LIST_FILE =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

ifdef FILE_LIST
DEB_LIST_FILE = $(FILE_LIST)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog
	rm -rf $(builddist)
	mkdir -p $(builddist)
	rm -rf $(SB_TOP)/tools/provisioning/ContrailProvisioning.egg-info
	rm -rf $(SB_TOP)/tools/provisioning/ContrailProvisioning-0.1dev
	(cd $(SB_TOP)/tools/provisioning/ && ${__python} setup.py sdist)
	(cd $(SB_TOP)/controller/src/config && tar cvfz $(builddist)/config_utils.tgz utils)
	(cd $(SB_TOP)/controller/src/dns/scripts && tar cvfz $(builddist)/dns_scripts.tgz *)
	if [ -z $(DEB_LIST_FILE) ]; then (cd $(SB_TOP) && python $(SB_TOP)/tools/packaging/build/create_pkg_list_file.py --sku $(CONTRAIL_SKU) $(builddist)/debs_list.txt); else (cp $(DEB_LIST_FILE) $(builddist)/debs_list.txt); fi

override_dh_auto_install:
	rm -rf $(buildroot)
	mkdir -p $(buildroot)
	# Install all the directories
	install -d -m 755 $(buildroot)
	install -d -m 755 $(buildroot)/usr/bin
	install -d -m 755 $(buildroot)/etc/contrail
	install -d -m 755 $(buildroot)/var/log/contrail
	install -d -m 755 $(buildroot)$(_contrailopt)
	install -d -m 755 $(buildroot)$(_contrailopt)/bin
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_packages
	install -d -m 755 $(buildroot)$(_contrailopt)/python_packages
	# Install files
	install -p -m 644 $(builddist)/debs_list.txt  $(buildroot)/etc/contrail/debs_list.txt
	install -p -m 644 $(builddist)/config_utils.tgz $(buildroot)/opt/contrail/config_utils.tgz
	install -p -m 644 $(builddist)/dns_scripts.tgz $(buildroot)/opt/contrail/dns_scripts.tgz
	(cd $(SB_TOP)/tools/provisioning/ && tar zxf dist/ContrailProvisioning-0.1dev.tar.gz)
	(cd $(SB_TOP)/tools/provisioning/ContrailProvisioning-0.1dev && ${__python} setup.py install --root=${buildroot} --install-scripts ${_contrailopt}/bin/)
	install -D -m 755 $(SB_TOP)/tools/provisioning/tools/openstack-status-deb $(buildroot)/usr/bin/openstack-status
	# install pkgs needed first
	install -p -m 644 $(SB_TOP)/distro/third_party/ecdsa-0.10.tar.gz $(buildroot)$(_contrailopt)/python_packages/ecdsa-0.10.tar.gz
	install -p -m 644 $(SB_TOP)/distro/third_party/Fabric-1.7.0.tar.gz $(buildroot)$(_contrailopt)/python_packages/Fabric-1.7.0.tar.gz
	echo BUILDID=`echo $(BUILDTAG) | cut -d '-' -f2 | cut -d '~' -f1` > $(SB_TOP)/tools/packaging/build/VERSION_ubuntu; fi
	install -p -m 755 $(SB_TOP)/tools/packaging/build/VERSION_ubuntu  $(buildroot)$(_contrailopt)/contrail_packages/VERSION
	install -p -m 755 $(SB_TOP)/tools/packaging/build/sources.list  $(buildroot)$(_contrailopt)/contrail_packages/sources.list
	install -p -m 755 $(SB_TOP)/tools/packaging/build/repo_preferences  $(buildroot)$(_contrailopt)/contrail_packages/preferences

override_dh_usrlocal:	

override_dh_shlibdeps:
