Source: contrail-config-venv
Maintainer: amoghe <amoghe@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-config-venv
Architecture: all
Maintainer: amoghe <amoghe@juniper.net>
Depends:
Section: contrail-config-venv
Priority: extra
Description: contrail-api-venv package
