Source: contrail-openstack-packages
Maintainer: vmahuli <vmahuli@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-openstack-packages
Architecture: all
Maintainer: vmahuli <vmahuli@juniper.net>
Depends:
Section: contrail-openstack-packages
Priority: extra
Description: Contrail Openstack Packages - Container of contrail openstack debian packages
