[Unit]
Description=Ceph cluster rest api daemon
Documentation=man:ceph-rest-api

After=network-online.target local-fs.target ceph-create-keys.service
Wants=network-online.target local-fs.target ceph-create-keys.service

PartOf=ceph.target

[Service]
LimitNOFILE=1048576
LimitNPROC=1048576
EnvironmentFile=-/etc/default/ceph
Environment=CLUSTER=ceph
ExecStart=/usr/bin/ceph-rest-api -c /etc/ceph/ceph.conf -n client.admin
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30
TasksMax=infinity

[Install]
WantedBy=multi-user.target
