#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/\/build\/debian\/contrail-server-manager//g")
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export src_path := $(SB_TOP)/tools/contrail-server-manager/src/
export ansible_path := $(SB_TOP)/tools/ansible/
export build_root := $(SB_TOP)/build/debian/contrail-server-manager/debian/contrail-server-manager
export contrail_provisioning_path := $(SB_TOP)/tools/provisioning/contrail_provisioning
#python_version := $(PYTHONPATH=$(PYTHONPATH):$(build_root)/../tools/packaging/tools/scripts/ python -c "import sys; print '%s.%s' % sys.version_info[0:2]")
#python_dir := python$(python_version)
python_version=$(shell python -c "import sys; print '%s.%s' % sys.version_info[0:2]")
python_dir=python$(python_version)
SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

ifdef OS_VER
os_ver := $(echo $(_osVer) | sed 's,[-|.],,g')
else
os_ver := $(shell PYTHONPATH=$(PYTHONPATH):$(src_path)/../../../tools/packaging/tools/scripts/ python -c "import package_utils; print package_utils.get_platform()")
endif

ifdef PKG_FILE
pkg_file :=  $(_pkgFile)
else
pkg_file := $(src_path)/../../../tools/packaging/tools/scripts/server-manager-thirdparty
endif

ifdef PIP_PKG_FILE
pip_pkg_file :=  $(_pkgFile)
else
pip_pkg_file := $(src_path)/../../../tools/packaging/tools/scripts/server-manager-thirdparty-pip
endif

ifdef CENTOS_PKT_FILE
centos_pkg_file := $(_centosPkgFile)
else
centos_pkg_file := $(src_path)/../../../tools/packaging/tools/scripts/server-manager-centos
endif

ifdef REDHAT_PKT_FILE
redhat_pkg_file := $(_redhatPkgFile)
else
redhat_pkg_file := $(src_path)/../../../tools/packaging/tools/scripts/server-manager-redhat
endif

ifdef PKG_DIRS
pkg_sources := $(_pkgDirs)
else
pkg_sources := /cs-shared/builder/cache/$(os_ver)/server-manager/ /cs-shared/builder/cache/$(os_ver)/server-manager/pip
endif


%:
	dh $@ --tmpdir=${build_root} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install: 
	# Cleanup directories
	rm -rf $(build_root)
	
	# Install directories
	install -d -m 755 $(build_root)
	install -d -m 755 $(build_root)/opt/contrail/server_manager/
	install -d -m 754 $(build_root)/etc/init.d/
	install -d -m 754 $(build_root)/etc/contrail_smgr/
	install -d -m 754 $(build_root)/etc/contrail_smgr/puppet/
	install -d -m 754 $(build_root)/etc/contrail_smgr/images/
	install -d -m 754 $(build_root)/etc/contrail_smgr/contrail-centos-repo/
	install -d -m 754 $(build_root)/etc/contrail_smgr/contrail-redhat-repo/
	install -d -m 754 $(build_root)/etc/ansible/
	install -d -m 754 $(build_root)/usr/sbin/
	install -d -m 755 $(build_root)/usr/lib/$(python_dir)/dist-packages/cobbler/modules/
	install -d -m 755 $(build_root)/opt/contrail/server_manager/reprepro/
	install -d -m 755 $(build_root)/opt/contrail/server_manager/ansible/
	install -d -m 755 $(build_root)/opt/contrail/server_manager/ansible/playbooks/
	install -d -m 755 $(build_root)/opt/contrail/server_manager/ansible/playbooks/contrail-ansible/
	install -d -m 755 $(build_root)/opt/contrail/server_manager/ansible/playbooks/contrail-ansible/contrailctl
	install -d -m 755 $(build_root)/opt/contrail/server_manager/ansible/plugins
	install -d -m 755 $(build_root)/opt/contrail/server_manager/reprepro/dpdk_depends_conf
	install -d -m 755 $(build_root)/opt/contrail/server_manager/reprepro/conf

	# Copy/install files
	install -p -m 755 $(src_path)/reprepro/conf/distributions $(build_root)/opt/contrail/server_manager/reprepro/conf/distributions
	install -p -m 755 $(src_path)/reprepro/conf/override $(build_root)/opt/contrail/server_manager/reprepro/conf/override
	install -p -m 755 $(src_path)/reprepro/dpdk_depends_conf/distributions $(build_root)/opt/contrail/server_manager/reprepro/dpdk_depends_conf/distributions
	install -p -m 755 $(src_path)/reprepro/dpdk_depends_conf/override $(build_root)/opt/contrail/server_manager/reprepro/dpdk_depends_conf/override
	install -d -m 755 $(build_root)/var/www/html/kickstarts/
	install -d -m 755 $(build_root)/var/www/html/contrail/
	install -d -m 755 $(build_root)/var/www/html/contrail/images/
	install -d -m 755 $(build_root)/var/www/html/contrail/config_file/
	install -d -m 755 $(build_root)/var/www/html/thirdparty_packages/
	install -d -m 755 $(build_root)/var/www/html/thirdparty_packages/pip_repo
	install -d $(build_root)/var/log/contrail-server-manager/provision/
	install -d -m 755 $(build_root)/etc/mail/

	# Build Monitoring Sandesh Files
	scons -U install_contrail_sm_monitoring --root=${build_root}
	scons -U install_contrail_sm_inventory --root=${build_root}

	# Copy/install files - Python scripts
	cp -r $(src_path)/*.py $(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/ansible/* $(build_root)/opt/contrail/server_manager/ansible/
	install -p -m 755 $(src_path)/ansible/sm_ansible_server.py $(build_root)/opt/contrail/server_manager/ansible/sm_ansible_server.py
	cp -r $(src_path)/ansible/plugins/*   $(build_root)/opt/contrail/server_manager/ansible/plugins/
	if [ -d $(ansible_path) ]; then \
	    cp -r $(ansible_path)/playbooks/* $(build_root)/opt/contrail/server_manager/ansible/playbooks/contrail-ansible/. ; \
	fi
	cp -r $(src_path)/vmware/esxi_contrailvm.py $(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/role_sequence.json $(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/contrail-defaults.yaml $(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/puppet/hiera.yaml $(build_root)/etc/contrail_smgr/puppet/
	cp -r $(src_path)/third_party/bottle.py  $(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/utils/send_mail.py $(build_root)/opt/contrail/server_manager/
	cp -r $(src_path)/third_party/server_post_install.py $(build_root)/usr/lib/$(python_dir)/dist-packages/cobbler/modules/
	cp -r $(src_path)/third_party/server_pre_install.py $(build_root)/usr/lib/$(python_dir)/dist-packages/cobbler/modules/
	
	# Config files - Do not overwrite
	install -p -m 755 $(src_path)/smgr.conf $(build_root)/etc/contrail_smgr/smgr.conf
	install -p -m 755 $(src_path)/sm-config.ini  $(build_root)/opt/contrail/server_manager/sm-config.ini
	install -p -m 755 $(src_path)/tags.ini  $(build_root)/opt/contrail/server_manager/tags.ini
	install -p -m 755 $(src_path)/logger.conf  $(build_root)/opt/contrail/server_manager/logger.conf
	install -p -m 755 $(src_path)/utils/sendmail.cf.sample  $(build_root)/etc/contrail_smgr/sendmail.cf.sample
	install -p -m 755 $(src_path)/ntp.conf.sample $(build_root)/etc/contrail_smgr/ntp.conf.sample
	
	cp -r $(src_path)/contrail-server-manager.u $(build_root)/etc/init.d/contrail-server-manager
	cp -r $(src_path)/contrail-server-manager.start.u  $(build_root)/usr/sbin/contrail-server-manager
	cp -r $(src_path)/contrail-server-manager-ansible.start.u  $(build_root)/usr/sbin/contrail-server-manager-ansible
	cp -r $(src_path)/puppet  $(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/cobbler  $(build_root)/etc/contrail_smgr/
	cp -r $(src_path)/kickstarts  $(build_root)/etc/contrail_smgr/
	
	install -p -m 755 $(src_path)/cobbler/bootup_dhcp.template.u $(build_root)/etc/contrail_smgr/cobbler/bootup_dhcp.template.u

	$(src_path)/../../../tools/packaging/tools/scripts/copy_thirdparty_packages.py --package-file $(pkg_file) \
 --destination-dir $(build_root)/var/www/html/thirdparty_packages \
 --source-dirs $(pkg_sources) || (echo "Copying Built packages failed"; exit 1)
	$(src_path)/../../../tools/packaging/tools/scripts/copy_thirdparty_packages.py --package-file $(pip_pkg_file) \
 --destination-dir $(build_root)/var/www/html/thirdparty_packages/pip_repo \
 --source-dirs $(pkg_sources) || (echo "Copying Built packages failed"; exit 1)
	$(src_path)/../../../tools/packaging/tools/scripts/copy_thirdparty_packages.py --package-file $(centos_pkg_file) \
 --destination-dir $(build_root)/etc/contrail_smgr/contrail-centos-repo \
 --source-dirs $(pkg_sources) || (echo "Copying Built centos packages failed"; exit 1)
	$(src_path)/../../../tools/packaging/tools/scripts/copy_thirdparty_packages.py --package-file $(redhat_pkg_file) \
 --destination-dir $(build_root)/etc/contrail_smgr/contrail-redhat-repo \
 --source-dirs $(pkg_sources) || (echo "Copying Built redhat packages failed"; exit 1)

override_dh_shlibdeps: 

override_dh_usrlocal:
