SUBSYSTEM!="net", GOTO="netdevicename_end"
ACTION!="add",    GOTO="netdevicename_end"

LABEL="netdevicename_start"

# using NAME= instead of setting INTERFACE_NAME, so that persistent
# names aren't generated for these devices, they are "named" on each boot.
PROGRAM="/etc/contrail/contrail_ifrename.sh %k", NAME="%c",  ENV{INTERFACE_NAME}="", OPTIONS+="string_escape=replace"

LABEL="netdevicename_end"

