[Unit]
Description=Contrail Database
After=network.target

[Service]
Type=forking
Environment=CASSANDRA_USER_HOME=/var/lib/cassandra
ExecStartPre=/usr/bin/contrail-cassandra-check-start
ExecStart=/usr/sbin/cassandra -p ${CASSANDRA_USER_HOME}/cassandra.pid \
        -H ${CASSANDRA_USER_HOME}/java.hprof \
        -E ${CASSANDRA_USER_HOME}/hs_err.log
PIDFile=${CASSANDRA_USER_HOME}/cassandra.pid
TimeoutStopSec=30
Restart=always
User=cassandra
Group=cassandra
ExecStop=/bin/kill -s TERM $MAINPID
StandardOutput=journal
StandardError=journal
LimitNOFILE=infinity
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/cassandra
ReadWriteDirectories=-/var/lib/cassandra
ReadWriteDirectories=-/etc/cassandra

[Install]
WantedBy=multi-user.target
