[Unit]
Description="Contrail Database Node Mgr"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/contrail-nodemgr --nodetype=contrail-database
PIDFile=/var/run/contrail/contrail-database-nodemgr.pid
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
RestartPreventExitStatus=0
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/etc/contrail

[Install]
WantedBy=multi-user.target
