[Unit]
Description="Contrail Web Server Manager UI"
After=redis.service
Requires=redis.service

[Service]
ExecStart=/usr/src/contrail/contrail-web-core/contrailWebMgrServer.sh
Restart=always
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
