[Unit]
Description= Supervisor for contrail configuration services
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/supervisord -n -c /etc/contrail/supervisord_config.conf
ExecStopPre=/usr/bin/supervisorctl -s http://localhost:9004 stop all
ExecStopPost=/usr/bin/supervisor_killall /etc/contrail/supervisord_config_files
LimitCORE=infinity
LimitNOFILE=4096
LimitSTACK=infinity
LimitDATA=infinity
LimitAS=infinity

[Install]
WantedBy=multi-user.target

