Source: contrail-thirdparty-packages
Maintainer: vmahuli <vmahuli@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-thirdparty-packages
Architecture: all
Maintainer: vmahuli <vmahuli@juniper.net>
Depends:
Section: contrail-thirdparty-packages
Priority: extra
Description: Contrail Thirdparty Packages - Container of dependent third party debian packages for contrail
