[Unit]
Description=OpenStack Nova VNC console auth Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-consoleauth --config-file /etc/nova/nova.conf --logfile /var/log/nova/consoleauth.log

[Install]
WantedBy=multi-user.target

