[Unit]
Description=OpenStack Nova Console Proxy Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-console --config-file /etc/nova/nova.conf --logfile /var/log/nova/console.log

[Install]
WantedBy=multi-user.target

