[Unit]
Description=OpenStack Nova Compute Server
After=syslog.target network.target

[Service]
Restart=always
Environment=LIBGUESTFS_ATTACH_METHOD=appliance
Type=simple
User=nova
ExecStart=/usr/bin/nova-compute --config-file /etc/nova/nova.conf --logfile /var/log/nova/compute.log

[Install]
WantedBy=multi-user.target

