#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/\/build\/debian\/contrail-storage-packages//g")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-storage-packages/debian/contrail-storage-packages
export _contrailopt := /opt/contrail

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
TGZ_FILE =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)~$(CONTRAIL_SKU)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)~$(CONTRAIL_SKU)
endif

ifdef FILE_LIST
TGZ_FILE = $(FILE_LIST)
endif

%:
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog
	dh $@

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install:
	@echo "making deb for contrail-storage-packages"
	install -d -m 755 $(buildroot)$(_contrailopt)
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_packages
	echo > $(buildroot)$(_contrailopt)/contrail_packages/.repo_pinning
	chmod 755 $(buildroot)$(_contrailopt)/contrail_packages/.repo_pinning
	install -p -m 755 $(SB_TOP)/tools/packaging/build/setup_storage_ubuntu.sh  $(buildroot)$(_contrailopt)/contrail_packages/setup_storage.sh
	if [ -f $(TGZ_FILE) ]; then echo "Using TGZ FILE = $(TGZ_FILE)"; install -p -m 644 $(TGZ_FILE) $(buildroot)$(_contrailopt)/contrail_packages/contrail_storage_debs.tgz; else echo "ERROR: TGZ file containing all debs is not supplied or not present"; echo "Supply Argument: FILE_LIST=<TGZ FILE>"; exit 1; fi

	
override_dh_usrlocal:	
