Source: contrail-openstack-vrouter
Maintainer: amoghe <amoghe@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends:

Package: contrail-openstack-vrouter
Architecture: all
Maintainer: amoghe <amoghe@juniper.net>
Depends: supervisor, contrail-libs, contrail-nodemgr, contrail-setup, contrail-vrouter, contrail-vrouter-init, haproxy, nova-compute, python-iniparse, python-novaclient
Section: contrail-openstack-vrouter
Priority: extra
Description: Contrail Openstack vRouter composite debian package
