#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/build\/third_party\/(.*)/\1/")
export BUILDDIR:= ${SB_TOP}/build/third_party/contrail-fabric-utils
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export installroot := ${BUILDDIR}/debian/contrail-fabric-utils
export _contrailopt := /opt/contrail
export _pyver := 2.7
export _pysitepkg := /lib/python${_pyver}/site-packages
export python_sitelib := /usr/local/lib/python${_pyver}/dist-packages

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

%:
	dh $@ --destdir=${SB_TOP}/build/debian

override_dh_auto_build:
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog 


DESTDIR = $(shell pwd)/debian/contrail-fabric-utils

override_dh_auto_install:
	# Setup directories
	rm -rf $(BUILDDIR)/contrail_fabric_utils-*
	rm -rf $(BUILDDIR)/contrail_fabric_utils.egg-info
	rm -rf $(BUILDDIR)/dist
	install -d -m 755 $(BUILDDIR)
	install -d -m 755 $(installroot)
	install -d -m 755 $(installroot)$(python_sitelib)
	install -d -m 755 $(installroot)$(_contrailopt)
	install -d -m 755 $(installroot)$(_contrailopt)/utils
	install -d -m 755 $(installroot)$(_contrailopt)/utils/fabfile
	cd ${BUILDDIR}; python setup.py sdist
	tar zxf dist/contrail_fabric_utils-*.tar.gz
	cd contrail_fabric_utils-*; python setup.py install --root=$(installroot)
	cd contrail_fabric_utils-*; cp README $(installroot)$(_contrailopt)/utils/README.fabric
	cd contrail_fabric_utils-*; cp -R $(installroot)$(python_sitelib)/contrail_fabric_utils/fabfile $(installroot)$(_contrailopt)/utils/

override_dh_usrlocal:	

override_dh_shlibdeps:
