Source: contrail-openstack-config-grizzly
Maintainer: rrugge <rrugge@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends:

Package: contrail-openstack-config-grizzly
Architecture: all
Maintainer: rrugge <rrugge@juniper.net>
Depends:
 contrail-libs,
 contrail-config-extension,
 contrail-config,
 quantum-plugin-contrail,
 quantum-server,
 python-novaclient,
 python-keystoneclient,
 contrail-setup, haproxy,
 euca2ools,
 python-iniparse,
 supervisor (= 3.0a8-1.2)
Section: contrail-openstack-config-grizzly
Priority: extra
Description: Contrail Openstack Config Grizzly composite debian package
