#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-openstack-control
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(SB_TOP)/build/debian/contrail-libs/usr/lib64/contrail

export _contrailetc := /etc/contrail
export _supervisordir := /etc/contrail/supervisord_control_files
export _initddir := /etc/init.d
export _initdir := /etc/init
export _src_config := $(SB_TOP)/tools/packaging/common/control_files
export _sysconfdir := /etc

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)

BUILDTAG =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install:
	# Setup directories
	install -d -m 755 $(buildroot)$(_initdir)
	install -d -m 755 $(buildroot)$(_initddir)
	install -d -m 755 $(buildroot)$(_sysconfdir)
	install -d -m 755 $(buildroot)$(_sysconfdir)/contrail
	install -d -m 755 $(buildroot)$(_sysconfdir)/contrail/supervisord_control_files
	install -p -m 755 $(_src_config)/contrail-nodemgr-control.ini $(buildroot)$(_supervisordir)/contrail-nodemgr-control.ini
override_dh_usrlocal:	

override_dh_shlibdeps:
