[DEFAULT]
log_dir = /var/log/nova
state_path = /var/lib/nova
dhcpbridge_flagfile = /etc/nova/nova.conf
dhcpbridge = /usr/bin/nova-dhcpbridge
force_dhcp_release = true
state_path = /var/lib/nova
enabled_apis = osapi_compute,metadata
log_dir = /var/log/nova
connection = sqlite:////var/lib/nova/nova.sqlite
lock_path = /var/lock/nova
api_paste_config = /etc/nova/api-paste.ini

[cells]
enable = False
