[Unit]
Description=OpenStack Cinder Volume Server
After=syslog.target network.target

[Service]
Type=simple
User=cinder
ExecStart=/usr/bin/cinder-volume --config-file /etc/cinder/cinder.conf --logfile /var/log/cinder/volume.log

[Install]
WantedBy=multi-user.target

