Source: contrail-web-storage
Maintainer: surakula<surakula@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-web-storage
Architecture: amd64
Maintainer: surakula <surakula@juniper.net>
Depends: contrail-web-core
Section: contrail-web-storage
Priority: extra
Description: Contrail Storage Systems Web UI Feature
