Source: neutron-plugin-contrail
Maintainer: builder@juniper.net
Section: net
Priority: optional

Package: neutron-plugin-contrail
Architecture: all
Provides: neutron-plugin
Depends:
  neutron-common (= ${source:Version}),
  contrail-api-lib,
  ${misc:Depends},
  ${python:Depends},
  ${shlibs:Depends}
Description: OpenContrail Neutron plugin
