[Unit]
Description=OpenStack Quantum Layer 3 Agent
After=syslog.target network.target

[Service]
Type=simple
User=quantum
ExecStart=/usr/bin/quantum-l3-agent --config-file /etc/quantum/quantum.conf --config-file /etc/quantum/l3_agent.ini --log-file /var/log/quantum/l3-agent.log
PrivateTmp=false

[Install]
WantedBy=multi-user.target
