[Unit]
Description=OpenStack Quantum Open vSwitch Cleanup Utility
After=syslog.target network.target openvswitch.service
Before=quantum-openvswitch-agent.service quantum-dhcp-agent.service quantum-l3-agent.service openstack-nova-compute.service

[Service]
Type=oneshot
User=quantum
ExecStart=/usr/bin/quantum-ovs-cleanup  --config-file /etc/quantum/quantum.conf --config-file /etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini --log-file /var/log/quantum/ovs-cleanup.log
PrivateTmp=true

[Install]
WantedBy=multi-user.target
