[Unit]
Description=OpenStack Quantum Server
After=syslog.target network.target
Requires=contrail-api.service

[Service]
Restart=always
Type=simple
User=quantum
ExecStartPre=/bin/bash -c 'tries=0; while [ $tries -lt 10 ]; do wget -O- http://localhost:8082 > /dev/null 2>&1; if [ $? -eq 0 ]; then break; fi; tries=$(($tries + 1)); sleep 1; done'
ExecStart=/usr/bin/quantum-server --config-file /etc/quantum/quantum.conf --config-file /etc/quantum/plugin.ini --log-file /var/log/quantum/server.log
PrivateTmp=true

[Install]
WantedBy=multi-user.target
