[Unit]
Description=OpenStack Quantum NEC OpenFlow Agent
After=syslog.target network.target

[Service]
Type=simple
User=quantum
ExecStart=/usr/bin/quantum-nec-agent --config-file /etc/quantum/quantum.conf --config-file /etc/quantum/plugins/nec/nec.ini --log-file /var/log/quantum/nec-agent.log
PrivateTmp=true

[Install]
WantedBy=multi-user.target
