[Unit]
Description=OpenStack Identity Service (code-named Keystone)
After=syslog.target network.target mysqld.service
Requires=syslog.target network.target mysqld.service

[Service]
Type=notify
Restart=always
User=keystone
ExecStart=/usr/bin/keystone-all --config-file /etc/keystone/keystone.conf

[Install]
WantedBy=multi-user.target
