Source: horizon
Section: net
Priority: extra
Maintainer: Chuck Short <zulcss@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
 pep8,
 pylint,
 python-all (>= 2.6.6-3~),
 python-django-nose,
 python-mox,
 python-netaddr,
 python-nose,
 python-setuptools,
 python-sphinx
Standards-Version: 3.9.3
Homepage: http://launchpad.net/horizon
Vcs-Browser: http://bazaar.launchpad.net/~ubuntu-server-dev/horizon/grizzly/files
Vcs-Bzr: https://code.launchpad.net/~ubuntu-server-dev/horizon/grizzly

Package: openstack-dashboard
Architecture: all
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: adduser,
 libapache2-mod-wsgi (>= 2.3),
 python-django-horizon,
 ${misc:Depends},
 ${python:Depends}
Description: django web interface to Openstack
 The OpenStack Dashboard is a reference implementation of a Django site that
 uses the Django-Nova project to provide web based interactions with the
 OpenStack Nova cloud controller.
