Source: contrail-storage
Maintainer: jjeya <jjeya@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: 

Package: contrail-storage
Architecture: all
Maintainer: jjeya <jjeya@juniper.net>
Depends: librados2 (>=0.94.3), librbd1 (>=0.94.3), ceph (>= 0.94.3), ceph-deploy, libvirt-bin, libaio1, python-cinderclient, cinder-volume, libsensors4, sysstat, nfs-common, smartmontools, sas2ircu, sysfsutils, python-contrail, radosgw
Section: contrail-openstack-storage
Priority: extra
Description: Contrail storage package
