Source: contrail-storage
Maintainer: jjeya <jjeya@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: 

Package: contrail-storage
Architecture: all
Maintainer: jjeya <jjeya@juniper.net>
Depends: ceph (>= 0.87), ceph-deploy, libvirt-bin, libaio1, python-cinderclient, cinder-volume, libsensors4, sysstat, nfs-common, smartmontools
Section: contrail-openstack-storage
Priority: extra
Description: Contrail storage package
