[Unit]
Description=OpenStack Nova Volume Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-volume --config-file /etc/nova/nova.conf --log-file /var/log/nova/volume.log

[Install]
WantedBy=multi-user.target

