Source: contrail-database
Maintainer: Chandan <cdmishra@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-database
Architecture: all
Maintainer: Chandan <cdmishra@juniper.net>
Depends: supervisor, cassandra, supervisor-contrail
Section: contrail-database
Priority: extra
Description: Contrail database package
