Source: contrail-openstack-config
Maintainer: rrugge <rrugge@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends:

Package: contrail-openstack-config
Architecture: all
Maintainer: rrugge <rrugge@juniper.net>
Depends:
 contrail-libs,
 contrail-config-extension,
 contrail-config,
 neutron-plugin-contrail (= 1:2013.2~rc3-0ubuntu1),
 neutron-server (= 1:2013.2~rc3-0ubuntu1),
 python-novaclient,
 python-keystoneclient,
 contrail-setup, haproxy,
 euca2ools,
 qpidd,
 python-qpid,
 python-iniparse
Section: contrail-openstack-config
Priority: extra
Description: Contrail Openstack Config composite debian package
