Source: supervisor
Maintainer: Chandan Mishra <cmishra@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8), python-setuptools (>= 0.6c7), python-support, python-all (>= 2.3.5-7)

Package: supervisor
Architecture: amd64
Maintainer: Chandan <cdmishra@juniper.net>
Depends: python (>= 2.3), python-medusa (>= 0.5.4), python-meld3, python-pkg-resources (>= 0.6c7), ${python:Depends}
Section: supervisor
Priority: extra
Description: Contrail modified supervisord for controlling process state.
