Source: contrail-nodejs
Maintainer: swamy <swamy@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-nodejs
Architecture: amd64
Maintainer: swamy <swamy@juniper.net>
Section: contrail-nodejs
Priority: extra
Description: Contrail Systems NodeJS Package
