Source: contrail-server-manager-cliff-client
Maintainer: nitishk <nitishk@juniper.net>
Section: misc
Priority: optional
Standards-Version: 1.0
Build-Depends: debhelper (>= 8)

Package: contrail-server-manager-cliff-client
Architecture: all
Maintainer: nitishk <nitishk@juniper.net>
Depends: python,
         python-pip,
         python-cliff,
         python-configparser,
         python-pyparsing,
         python-pbr,
         python-six,
         python-pycurl
Section: contrail-server-manager-cliff-client
Priority: extra
Description: Contrail Server Manager Cliff Client Package
