[Unit]
Description=OpenStack Image Service (code-named Glance) Registry server
After=syslog.target network.target

[Service]
Type=simple
User=glance
ExecStart=/usr/bin/glance-registry --config-file /etc/glance/glance-registry.conf
PrivateTmp=true

[Install]
WantedBy=multi-user.target

