[Unit]
Description=OpenStack Image Service (code-named Glance) API server
After=syslog.target network.target

[Service]
Type=simple
User=glance
ExecStart=/usr/bin/glance-api --config-file /etc/glance/glance-api.conf
PrivateTmp=true

[Install]
WantedBy=multi-user.target

