#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
SPEC_DIR := $(shell pwd)

export SB_TOP := $(shell pwd | sed -re "s/\/build\/debian\/contrail-server-manager-installer//g")
export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export DISTRIB_RELEASE = $(shell grep -Po "DISTRIB_RELEASE=\K.*" /etc/lsb-release)
export buildroot := $(SB_TOP)/build/debian/contrail-server-manager-installer/debian/contrail-server-manager-installer
export _contrailopt := /opt/contrail

SRC_VER := $(shell cat $(SB_TOP)/controller/src/base/version.info)
python_version=$(shell python -c "import sys; print '%s.%s' % sys.version_info[0:2]")
python_dir=python$(python_version)

BUILDTAG =
TGZ_FILE =
ifdef TAG
BUILDTAG = $(SRC_VER)-$(TAG)~$(CONTRAIL_SKU)
else
BUILDTAG = $(SRC_VER)-$(BUILDTIME)~$(CONTRAIL_SKU)
endif

ifdef FILE_LIST
TGZ_FILE = $(FILE_LIST)
endif

ifndef SETUP_FILE
SETUP_FILE := $(SB_TOP)/tools/packaging/build/deb_server_manager_setup.sh
endif

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build:
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_install:
	rm -rf $(buildroot)
	# Setup directories
	@echo "making deb for contrail-server-manager-installer"
	install -d -m 755 $(buildroot)
	install -d -m 755 $(buildroot)$(_contrailopt)
	install -d -m 755 $(buildroot)$(_contrailopt)/contrail_server_manager
	# Install files
	install -p -m 755 $(SETUP_FILE)  $(buildroot)$(_contrailopt)/contrail_server_manager/setup.sh
	install -p -m 755 $(SB_TOP)/tools/packaging/build/ubuntu_12_04_3_sources.list  $(buildroot)$(_contrailopt)/contrail_server_manager/ubuntu_12_04_3_sources.list
	install -p -m 755 $(SB_TOP)/tools/packaging/build/ubuntu_14_04_1_sources.list  $(buildroot)$(_contrailopt)/contrail_server_manager/ubuntu_14_04_1_sources.list
	install -p -m 755 $(SB_TOP)/tools/packaging/build/puppetmaster  $(buildroot)$(_contrailopt)/contrail_server_manager/puppetmaster
	install -p -m 755 $(SB_TOP)/tools/packaging/build/cobbler.conf  $(buildroot)$(_contrailopt)/contrail_server_manager/cobbler.conf
	install -p -m 755 $(SB_TOP)/tools/packaging/build/cobbler_web.conf  $(buildroot)$(_contrailopt)/contrail_server_manager/cobbler_web.conf
	install -p -m 755 $(SB_TOP)/tools/packaging/build/cobbler_14.conf  $(buildroot)$(_contrailopt)/contrail_server_manager/cobbler_14.conf
	install -p -m 755 $(SB_TOP)/tools/packaging/build/cobbler_web_14.conf  $(buildroot)$(_contrailopt)/contrail_server_manager/cobbler_web_14.conf
	# install TGZ file and packages list file
	if [ -f $(TGZ_FILE) ]; then echo "Using TGZ FILE = $(TGZ_FILE)"; install -p -m 644 $(TGZ_FILE) $(buildroot)$(_contrailopt)/contrail_server_manager/contrail_server_manager_packages.tgz; else echo "ERROR: TGZ file containing all debs is not supplied or not present"; echo "Supply Argument: FILE_LIST=<TGZ FILE>"; exit 1; fi
override_dh_shlibdeps:

override_dh_usrlocal:

