#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SPEC_DIR := $(shell pwd)
export SB_TOP := $(shell pwd | sed -re "s/(.*)\/tools\/packaging\/(.*)/\1/")

export BUILDTIME := $(shell date -u +%y%m%d%H%M)
export buildroot := $(SB_TOP)/build/debian/contrail-dns
export _srcdir := $(SB_TOP)/tools/packaging/common/control_files
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(SB_TOP)/build/debian/contrail-libs/usr/lib64/contrail

export _supervisordir := /etc/contrail/supervisord_dns_files
export _contrailetc := /etc/contrail
export _bindir := /usr/bin
export _logdir := /var/log
export _initddir := /etc/init.d
export _initdir := /etc/init

BUILDTAG =
ifdef TAG
BUILDTAG = $(TAG)
else
BUILDTAG = $(BUILDTIME)
endif

TARGETS=src/dns:dnsd \
        controller/lib/bind

%:
	dh $@ --tmpdir=${buildroot} --destdir=${SB_TOP}/build/debian

override_dh_auto_build: 
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog
	(cd ${SB_TOP}; scons -U ${TARGETS})

override_dh_auto_install: 
	# Cleanup directories
	rm -rf debian/contrail-dns/
	
	# Install directories
	install -d -m 755 $(buildroot)$(_bindir)
	install -d -m 755 $(buildroot)$(_contrailetc)/dns
	install -d -m 755 $(buildroot)$(_logdir)/named
	install -d -m 755 $(buildroot)$(_supervisordir)
	install -d -m 755 $(buildroot)$(_initddir)
	install -D -m 755 $(_srcdir)/supervisor-dns.upstart $(buildroot)$(_initdir)/supervisor-dns.conf
	install -p -m 755 $(_srcdir)/supervisor-dns.initd $(buildroot)$(_initddir)/supervisor-dns
	install -p -m 755 $(_srcdir)/contrail-dns.initd.supervisord $(buildroot)$(_initddir)/contrail-dns
	install -p -m 755 $(_srcdir)/contrail-named.initd.supervisord $(buildroot)$(_initddir)/contrail-named
	
	# Copy/install files
	install -p -m 755 $(SB_TOP)/build/third_party/bind/bin/named/named $(buildroot)$(_bindir)/named
	install -p -m 755 $(SB_TOP)/build/third_party/bind/bin/rndc/rndc $(buildroot)$(_bindir)/rndc
	install -p -m 755 $(SB_TOP)/build/debug/dns/dnsd $(buildroot)$(_bindir)/dnsd
	install -p -m 755 $(_srcdir)/rndc.conf $(buildroot)$(_contrailetc)/dns/rndc.conf
	install -p -m 755 $(_srcdir)/named.conf $(buildroot)$(_contrailetc)/dns/named.conf
	#install .ini files for supervisord
	install -p -m 755 $(_srcdir)/supervisord_dns.conf $(buildroot)$(_contrailetc)/supervisord_dns.conf
	install -p -m 755 $(_srcdir)/contrail-dns.ini $(buildroot)$(_supervisordir)/contrail-dns.ini
	install -p -m 755 $(_srcdir)/contrail-named.ini $(buildroot)$(_supervisordir)/contrail-named.ini

